<link rel="stylesheet" href="../css/banner.css">
<div class="banner">
        <h2>İkinci El Alışverişin Hızlı ve Güvenli Adresi</h2>
        <div class="steps">
            <div class="step">
                <div class="step-icon">
                    <i class="fas fa-user-plus"></i>
                </div>
                <h3>Hesap Oluştur</h3>
                <p>Ücretsiz üye olarak alışverişe başla</p>
            </div>
            <div class="step">
                <div class="step-icon">
                    <i class="fas fa-ad"></i>
                </div>
                <h3>İlan Ver</h3>
                <p>Satmak istediğin ürünü kolayca listeleyebilirsin</p>
            </div>
            <div class="step">
                <div class="step-icon">
                    <i class="fas fa-search"></i>
                </div>
                <h3>Ürün Bul</h3>
                <p>Binlerce ürün arasından aradığını bul</p>
            </div>
            <div class="step">
                <div class="step-icon">
                    <i class="fas fa-handshake"></i>
                </div>
                <h3>Güvenli Alışveriş</h3>
                <p>Güvenle alışveriş yap, anlaşmaları kolayca yap</p>
            </div>
        </div>
</div>