<link rel="stylesheet" href="../css/categories.css">
<div class="quick-categories">
            <a href="#" class="category">
                <div class="category-icon">
                    <i class="fas fa-mobile-alt"></i>
                </div>
                <span>Elektronik</span>
            </a>
            <a href="#" class="category">
                <div class="category-icon">
                    <i class="fas fa-tshirt"></i>
                </div>
                <span>Giyim</span>
            </a>
            <a href="#" class="category">
                <div class="category-icon">
                    <i class="fas fa-home"></i>
                </div>
                <span>Ev Eşyaları</span>
            </a>
            <a href="#" class="category">
                <div class="category-icon">
                    <i class="fas fa-car"></i>
                </div>
                <span>Araç</span>
            </a>
            <a href="#" class="category">
                <div class="category-icon">
                    <i class="fas fa-book"></i>
                </div>
                <span>Kitap</span>
            </a>
            <a href="#" class="category">
                <div class="category-icon">
                    <i class="fas fa-baby"></i>
                </div>
                <span>Bebek</span>
            </a>
            <a href="#" class="category">
                <div class="category-icon">
                    <i class="fas fa-dumbbell"></i>
                </div>
                <span>Spor</span>
            </a>
            <a href="#" class="category">
                <div class="category-icon">
                    <i class="fas fa-paw"></i>
                </div>
                <span>Evcil Hayvan</span>
            </a>
</div>