<link rel="stylesheet" href="../css/categories.css" />
<div class="quick-categories">
  <a
    href="search.html?category=elektronik"
    class="category"
    data-category="Elektronik"
  >
    <div class="category-icon">
      <i class="fas fa-mobile-alt"></i>
    </div>
    <span>Elektronik</span>
  </a>
  <a href="search.html?category=giyim" class="category" data-category="Giyim">
    <div class="category-icon">
      <i class="fas fa-tshirt"></i>
    </div>
    <span>Giyim</span>
  </a>
  <a href="search.html?category=emlak" class="category" data-category="Emlak">
    <div class="category-icon">
      <i class="fas fa-home"></i>
    </div>
    <span>Emlak</span>
  </a>
  <a href="search.html?category=arac" class="category" data-category="Araç">
    <div class="category-icon">
      <i class="fas fa-car"></i>
    </div>
    <span>Araç</span>
  </a>
  <a href="search.html?category=ders" class="category" data-category="Ders">
    <div class="category-icon">
      <i class="fas fa-book"></i>
    </div>
    <span>Ders</span>
  </a>
  <a href="search.html?category=spor" class="category" data-category="Spor">
    <div class="category-icon">
      <i class="fas fa-dumbbell"></i>
    </div>
    <span>Spor</span>
  </a>
  <a
    href="search.html?category=endustri"
    class="category"
    data-category="endüstri"
  >
    <div class="category-icon">
      <i class="fa-solid fa-industry"></i>
    </div>
    <span>endüstri</span>
  </a>
  <a
    href="search.html?category=hayvan"
    class="category"
    data-category="Evcil Hayvan"
  >
    <div class="category-icon">
      <i class="fas fa-paw"></i>
    </div>
    <span>Evcil Hayvan</span>
  </a>
</div>
